.cursor-dot{
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.5s ease-out;
}


.items-div ul li a{
    color: white;
    text-decoration: none;
    font-family: 'brandon-grotesque';
    font-size: 18px;
}

.items-div ul li{
    margin-left: 1vw;
}

nav .navbar-brand{
    color: white;
    font-family: 'Mrs Saint Delafield';
    font-size: 40px;
    margin-left: .5em;
    margin-top: .5em;
    text-decoration: none;
}

/* About */
.top-about {
    display: flex;
    flex-direction: column;
    height: 30em;
    margin-right: 3em;
    margin-top: 5em;
    background-image: url(./images/IMG_5587.JPG);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right top;
}

.top-about h1:nth-child(1) {
    font-family: "";
    font-size: 70px;
    margin-left: 2em;
    margin-top: 1em;
    color: white;
    width: 50%;
}

.top-about h1:nth-child(2) {
    font-family: "";
    font-size: 140px;
    color: white;
    margin-left: 1.35em;
}
.top-about img {
    width: 40%;
    height: 40%;
}

.about-container{
    display: flex;
    flex-direction: column;
    cursor: default;
}

.about-container-img{
    font-size: 50px;
    margin-top: 170px;
    margin-bottom: 170px;
}

.about-content {
    margin-top: 7em;
}

.about-p{
    color: white;
    font-family: "brandon-grotesque";
    font-size: 20px;
    text-align: center;
    
    
    position: relative;
    transform: translateY(70px);
    opacity: 0;
    transition: all 1.25s ease;
}

.active{
    transform: translateY(0px);
    opacity: 1;
}



/* Works */
.works-container{
    margin-top: 10em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}

.works-sxse-container{
    background: url(./images/pixelcut-export.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px white;
    border-radius: 10px;
    width: 60%;
    height: 30em;
    margin-bottom: 20px;
    margin-left: 2vw;

    transition: border .5s ease-out;
    
}


.works-namaste-container{
    background: url(./images/Screenshot_2024-05-28_141242-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    border: solid 2px white;
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 40%;
    height: 35em;

    transition: border .5s ease-out;
}

/* SXSE Page */
.sxse-body {
    background-image: linear-gradient(to right, #ff3131, #ff914d);
}
.sxse-intro{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.sxse-main-title {
    font-family: "brandon-grotesque";
    color: white;
    margin-top: 1em;
    font-weight: 700;
    text-align: center;
}

.sxse-intro p {
    font-family: "brandon-grotesque";
    color: white;
    width: 95%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.sxse-sprint-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "brandon-grotesque";
    text-align: center;
}

.sxse-sprints-1-2{
    margin-left: 1rem ;
    margin-right: 1rem;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55em;
}

.sxse-sprint-1,
.sxse-sprint-2 {
    color: white;
    font-family: "brandon-grotesque";
    flex: 1; /* Make sure both sprints take equal space */
    margin: 0 1rem; /* Add some space between the sprints */
    text-align: center;
}





/* Animations & Effects */

nav .navbar-brand:hover{
    color: #368EF3;
}

.items-div ul li a:hover{
    color: #368EF3;
}









